
*{

}
.banner{
    background-image: url("../imgs/bannerHeader.png");
    background-size: cover;
    background-position: center;
    height: 350px;
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contenedor-footer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

#container-foro {
    text-align: center;
    margin-top: 0;
    border: white 1px solid;
}


#aniadidoPubli{
    margin-top: 20px;
    margin-bottom: 20px;

}
#cajaSelectTemas{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

#subirPubli{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#divTituloForo{
    display: flex;
    justify-content: center;
}

.foro-encabezado{
    font-size: 30px;
    font-weight: 800;
    color: #77A6B6;
    margin-bottom: 20px;
    text-align: center;
    border: #6e0d25;
}

#div-clasificadores{
    display: flex;
    justify-content: right;
    padding: 10px 10px 15px 0;
    background: rgb(104,16,199);
    background: linear-gradient(315deg, rgba(104,16,199,1) 0%, rgba(155,64,241,1) 35%, rgba(175,87,237,1) 100%);
    box-shadow: grey 3px 2px 2px 2px;
}
#aniadirbtnDiv{
    display: flex;
    justify-content: center;
}



#aniadirPubliDiv{
    border-radius: 5px;
    box-shadow: grey 2px 1px 1px 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 0 10px 0;
    background: rgb(104,16,199);
    background: linear-gradient(315deg, rgba(104,16,199,1) 0%, rgba(155,64,241,1) 35%, rgba(175,87,237,1) 100%);
    color: white;
    font-size: medium;
}

#aniadirPubliDiv textarea{
    color: black;
}
#titulo{
    color: black;
}

.publicacion{
    box-shadow: grey 2px 1px 1px 1px;
    margin: 10px 0;
    background-color: white;
    border-radius: 5px;
}

.publicacion div{
    border: #AF57ED 1px solid;
}


.publi-img{
    width: 80%;
    height: 80%;
}
.publi-icon-column{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
.publi-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.publi-title h2:hover{
    cursor: pointer;
    border-radius: 5px;
    margin: 0 0 0 0;
    text-decoration: #5081F9 underline;
}

.publi-datos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.publi-likes button{
    margin: 10px 0;

}

.publi-contenido{
    border-bottom: black 1px solid;
    margin: 0 0 50px 0;
    border-radius: 5px;
    box-shadow: grey 2px 1px 1px 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 0 10px 0;
    background: white;

}

.btnAniadirPub{
    background: rgb(40,165,253);
    background: linear-gradient(315deg, rgba(40,165,253,1) 0%, rgba(80,129,249,1) 35%, rgba(116,97,245,1) 100%);
    border: white 0.5px solid;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    padding: 2px 15px;
}

.btnAniadirPub:hover{
    background: rgb(40,165,253);
    background: linear-gradient(315deg, rgba(116,97,245,1) 0%, rgba(80,129,249,1) 100%, rgba(40,165,253,1) 35%);
    border: white 0.5px solid;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    padding: 2px 15px;
    box-shadow: gray 2px 1px 1px 1px;
}




@media screen and (max-width: 768px) {
    .banner {
        height: 190px;
        margin-top: 20px;
    }
    .publi-img{
        width: 100%;
        height: 70%;
    }
    .nav-links a{
        font-weight: 600;
    }
    #cajaSelectTemas{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #div-clasificadores{
        justify-content: right;
        font-size: x-small;
    }

}