@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto:wght@300;500;700&family=Silkscreen&display=swap');
*{
    /*border: red 1px solid;*/

}
html, body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.banner{
    background-image: url("../imgs/bannerHeader.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 100%;
    margin: 0 0 40px 0;
}
.header{
    background-color: #000;
    height: 50px;
    width: 100%;
}

.logo_index {
    float: left;
    width: 50px;
    height: 50px;
}

#logo_user_navigation_bar {
    float: right;
    width: 50px;
    height: 50px;
}

.navigation_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    height: 60px;
    background-color: black;
    margin-bottom: 40px;
    border-bottom: 0.1em solid white;
}

.navigation_bar ul {
    list-style: none;
    text-align: center;
}

.navigation_bar ul li {
    display: inline-block;
}

.navigation_bar ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #aaa;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
}

.navigation_bar ul li a:hover {
    text-decoration: underline darkorange;
}

.logo_index:hover {
    cursor: pointer;
}

#logo_user_navigation_bar:hover {
    cursor: pointer;
}

.forum{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    margin: 0 10px 0 10px;
}
.clasificaciones{
    position: relative;
    width: 25%;
}
.clasificaciones select{
    display: none;
}
.select-selected{
    background-color: firebrick;
}
/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: firebrick;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.forum-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 25px 25px;
    margin: 10px 10px 20px 10px;

}

.forum-content{
    background: firebrick;
    color: #fff;
    border-radius: 10px;
    margin: 10px 0 0 0;
    padding: 10px;
    height: 92%;
    width: 97%;
    text-align: justify;

}
footer{
    text-align: center;
    padding: 1px;
    background-color: black;
    color: white;
}

table{
    margin: 5%;
    padding-left: 60%;
}


@media screen and (max-width: 800px){
    .banner{
        height: 200px;
    }
    .forum-container{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}
