




* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #dec6fc;
}





/* OPCIONES DEL SCROLL */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: black;
}

::-webkit-scrollbar:window-inactive {
    display: none;
}

::-webkit-scrollbar-track-piece {
    border-radius: 6px;
    background-color: #40028d;
    background-clip: content-box;
    border: solid 4px transparent;
}

::-webkit-scrollbar-track-piece:decrement {
    background: #F2BFF2;
    background-clip: content-box;
    border: solid 4px transparent;
}


::-webkit-scrollbar-thumb  {
    height: 1px;
    width: 3px;
    background-color: #0bb4b7;
    border-radius: 6px;
}
::-webkit-scrollbar-corner {
    background: transparent ;
}

::-webkit-scrollbar-track-piece:no-button {
    background-color: red;
}


/* MENU */

.menu-user{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}

.come-back-icon {
    width: 50px;
    height: 50px;
}

.container-list-menu-user {
    height: 100%;
}

.container-list-menu-user ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.container-list-menu-user li {
    list-style: none;
}

.container-list-menu-user li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.container-list-menu-user li a:hover {
    color: #F2BFF2;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .menu-user-bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .menu-user {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .container-list-menu-user {
        display: none;
        width: 100%;
    }

    .container-list-menu-user ul {
        width: 100%;
        flex-direction: column;
    }

    .container-list-menu-user ul li {
        text-align: center;
    }

    .container-list-menu-user ul li a {
        padding: .5rem 1rem;
    }

    .container-list-menu-user.active {
        display: flex;
    }
}








/* IMAGEN USUARIO Y FONDO */

#section_user_profile {
    width: 100%;
    height: 450px;
    background-color: white;
    border: 2px solid black;

}

#image-user-profile {
    width: 150px;
    height: 150px;
    background-image: url("https://images.pexels.com/photos/774909/pexels-photo-774909.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 2px solid white;
    border-radius: 120px;
    transform: translate(0, 100%);

}


#background-image-user-profile {
    width: 100%;
    height: 300px;
    top: 0;
    background-image: url("https://images.pexels.com/photos/957040/night-photograph-starry-sky-night-sky-star-957040.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

#username {
    width: 100%;
    height: 90px;
    text-align: center;
    color: black;
    margin-top: 150px;
}















/* DATOS */


#title-info-user {
    margin: 50px 0 0 0;
    text-align: center;
}



.user-data {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.info-user {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 20px;


}


.info-user div {
    margin-bottom: 10px;
    width: 100%;
    height: 50%;

    box-shadow: 5px 5px #AF57ED;
    background: linear-gradient(170deg, white 80%, #e5caff);
    opacity: 100%;
    text-align: center;
}






#user-count {
    width: 30%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.div-likes-count,
.div-saves {
    width: 100%;
    box-shadow: 5px 5px #AF57ED;
    text-align: center;
    background: linear-gradient(170deg, white 80%, #e5caff);
}


#user-count div img {
    width: 150px;
    height: 150px;
}



@property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}

#number-likes-count {
    transition: --num 1s;
    counter-set: num var(--num);
    font: 800 40px system-ui;
    border: none;
}
#number-likes-count::after {
    content: counter(num);
}

#number-likes-count:hover {
    --num: 10;
}



#number-saves-count {
    transition: --num 1s;
    counter-set: num var(--num);
    font: 800 40px system-ui;
    border: none;
}
#number-saves-count::after {
    content: counter(num);
}

#number-saves-count:hover {
    --num: 30;
}








/* PUBLICACIONES */

#secccion_publicaciones {
    margin-top: 500px;
}

.layout-publicaciones {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    grid-gap: 2em;
    padding: 2em;
    pointer-events: none;

}
.layout-publicaciones img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: .25em;
    transition: 250ms 50ms;
    pointer-events: auto;
}













