@import url('https://fonts.googleapis.com/css?family=Arbutus Slab');
@import url('https://fonts.googleapis.com/css?family=Artifika');
@import url('https://fonts.googleapis.com/css?family=Bebas Neue');

html, body {
    margin:0;
    padding:0;
}

#user-info h3 {
    margin-top: 5px;
    font-family: 'Arbutus Slab';
    font-size: 20px;
}






/* PARTE DE ARRIBA DEL PERFIL */

#section_user_profile {
    width: 100%;
    height: 300px;
    border-bottom: 2px solid black;


}

#image-user-profile {
    width: 150px;
    height: 150px;
    background-image: url("https://images.pexels.com/photos/774909/pexels-photo-774909.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 2px solid white;
    border-radius: 120px;
    transform: translate(0, 100%);

}


#background-image-user-profile {
    width: 100%;
    height: 300px;
    top: 0;
    background-image: url("https://images.pexels.com/photos/1255372/pexels-photo-1255372.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

#user-info {
    width: 100%;
    height: 90px;
    text-align: center;
    color: black;
    margin-top: 150px;
}





/* SUBMENU */

.submenu-user-profile {
    width: 100%;
    height: 40px;
    list-style: none;
    padding:0;
    position:absolute;
    left:0;
    margin-top: 150px;
    background-color: black;
}

.submenu-user-profile li {
    display: inline;
    float: left;

}


.submenu-user-profile a {
    width: 100%;
    height: 100%;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: black;
    font-family: 'Artifika';
}

.submenu-user-profile a:hover{
    background-color: #ca6702;
    color: black;
    transition: all 0.3s ease;
}






/* DIVS DEL MENU */


#info-user {
    height: 100%;
    display: grid;
    margin: 220px 20px 0 20px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
    text-align: center;
    padding:10px;

}

#info-user div {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    text-align: center;
    box-shadow: 5px 5px #a45d3c;
    background: linear-gradient(170deg, white 80%, #eee4e1);
    opacity: 50%;
}

#info-user div:hover {
    opacity: 100%;
}


#info-user h3{
    font-family: 'Bebas Neue';
    font-size: 20px;

}

#info-user h3:hover{
    color: #2a9d8f;
    scale: 1.1;
    transition: all 0.3s ease;
}














